name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install
      working-directory: nodejs-rest-api-EC2-main

    - name: Build
      run: npm run build --if-present
      working-directory: nodejs-rest-api-EC2-main

    - name: Create .env file
      run: |
        touch .env
        echo "MONGO_DB_URL=${{ secrets.MONGO_DB_URL }}" >> .env
      working-directory: nodejs-rest-api-EC2-main

    - name: Restart PM2
      run: pm2 restart BackendAPI
